# ─── Base de datos ───────────────────────────────────────────────
# Puedes usar la misma de MongoDB Atlas pero con DB_NAME diferente
MONGO_URL="mongodb+srv://yaselfp:Trading2026@cluster0.veoffts.mongodb.net/?appName=Cluster0"
DB_NAME="deriv_bot"

# ─── Deriv API ───────────────────────────────────────────────────
# Token que creaste en developers.deriv.com
DERIV_TOKEN="pat_12e4f3fef51faa91119c9b6062a3f044edb4b34475bc37afc0d9c9316b7fde9d"

# ─── Telegram (bot SEPARADO del de crypto) ───────────────────────
TELEGRAM_BOT_TOKEN="8319985091:AAHAuKNMmqtOLzWbU-70jszwqaME0E6NkSs"
TELEGRAM_CHAT_ID="8458409696"

# ─── CORS ────────────────────────────────────────────────────────
CORS_ORIGINS="*"
